/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif; /* Você pode mudar para a fonte que quiser */
    overflow: hidden;
}

ul, ol {
    list-style: none; /* Remove os pontos e números das listas */
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

input, textarea {
    outline: none;
    border: none;
}

/* Adiciona um estilo de cursor padrão */
body, button, input, textarea {
    cursor: default;
}

.app {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh; /* Ocupa toda a altura da viewport */
    width: 100%; /* Ocupa toda a largura da viewport */
    position: relative; /* Para permitir o posicionamento dos filhos */
}

